@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300;800&display=swap');

body, html{
    height: 100%;
    margin: 0;
    padding: 0;
    border: 0;
    margin: 0;
}

body{
    font-family:'Nunito Sans', sans-serif;
    color: #fffafa;
    background-color:#BBC4D4;
}

.bg{

    background-image: url(imagens/background.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position:center;
    background-attachment: fixed;
    background-position-y: 40%;
       
}



.navBar{
   height: 55px;
  z-index: 1;
  border: none;
}


h1{
    position: absolute;
   text-align: left;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 30px;
    color:#FFFAFA;
    margin-top: 16px;
    padding-left: 10px;
    height: 35px;
}

.container{
    display:flex;
    flex-direction:row;
    flex-wrap:wrap;
    justify-content:center;
    align-content:center;
     
}

/*Botão Entrar  */
.btn1{
    
    width: 10em;
    height: 4em;
    border: 1px #b2b2b2;
    border-radius: 6px;
    cursor: pointer;
    font-weight: bold;
    font-size: 1rem;
    margin: 19em 1em 0em -20em;
    background-color:#000000 ;;
    color:#FFFAFA;
}
/*Botão cadastro  */
.btn2{

    width: 10em;
    height: 4em;
    border: 1px #b2b2b2;
    border-radius: 6px;
    cursor: pointer;
    font-weight: bold;
    font-size: 1rem;
    margin: 19em 0em 0em -7em;
    background-color:#FFFAFA;
    color:#000000 ;
    outline:none;
    
}

.btn2:hover{
    background: #4F95DA ;
    color:#FFFAFA;

}

h2{
    font-weight: 100;
    font-size: 30px;
    color: #000000;
}

.text1{
   margin-top: 5em ;
   margin-left: 30em;
  
}

.rodape{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-content: flex-start;
    margin: 18rem 0rem;
    
}

