@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300;800&display=swap');

body, html{
    height: 100%;
    margin: 0;
    padding: 0;
    border: 0;
    margin: 0;
}

body{
    font-family:'Nunito Sans', sans-serif;
    color: #fffafa;
    background-color:#BBC4D4;
}

.bg{

    background-image: url(imagens/background.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position:center;
    background-attachment: fixed;
    background-position-y: 40%;
       
}



.navBar{
  background-color:#FFFAFA;
  height: 55px;
  opacity: .90;
  z-index: 1;
  border: none;
}


h1{
    position: absolute;
   text-align: left;
    text-transform: uppercase;
    font-weight: 900;
    font-size: 18px;
    color:#768CAC;
    margin-top: 16px;
    padding-left: 10px;
    height: 35px;
}

.container{
    display:flex;
    flex-direction:row;
    flex-wrap:wrap;
    justify-content:center;
    align-content:center;
    border: solid 1px red;   
}


.btn1{
    
    width: 15em;
    height: 5em;
    text-transform: uppercase;
    color: #CBA31D;
    border: 1px #b2b2b2;
    border-radius: 6px;
    cursor: pointer;
    font-weight: bold;
    font-size: 1rem;
    margin: 19em 2em 0em -18em;
}

.btn2{

    width: 15em;
    height: 5em;
    text-transform: uppercase;
    border: 1px #b2b2b2;
    border-radius: 6px;
    cursor: pointer;
    font-weight: bold;
    font-size: 1rem;
    margin: 19em 2em 0em 0em;
    
}


.text1{
   margin-top: 5em ;
   margin-left: 50em;
   color: #000000;


}


