@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300;800&display=swap');
@import './responsivity.css';

:root{
    --primary-color:#FFFFFF;  
    --text-color:#000000;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


html{
    font-family:'Nunito Sans', sans-serif;
}



.container{
    height: 500px;
    width: 60vw;
    max-width: 30%;
    margin: 0 auto;
    padding: 2em;
    border: 1px solid #ccc;
    border-radius: 4px;
}

input{
    width: 250px;
    height: 31px;
    min-width: 100%;

    margin: 5px;

}

legend{
    margin-top: 20px;
    text-align: center;
    
}

.btn1{
    max-width: 80%;
    width: 110px;
    height: 60px;
    border: 1px #b2b2b2;
    border-radius: 6px;
    cursor: pointer;
    font-weight: bold;
    font-size: 14px;  
    background-color:#4F95DA ;
    color:#FFFAFA;
    margin-top: 25px; ;
}

.rodape, h3{
    height: 20px;

    color: #FFFAFA;
    font-weight: 100;
    font-size: 16px;
    margin: -30px 20px;
    width: 40vw; 
}  