@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300;800&display=swap');
:root{
    --primary-color:#FFFFFF;  
    --text-color:#000000;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}


html{
    font-family:'Nunito Sans', sans-serif;
    height: 100%;
   
}

header{
    width: 100%;
    height: 5vh;
    margin-bottom: 40px;

    border: solid 1px none;
    background:#4F95DA;
}

body{
    height:100%;    
}

.container{
    width: 25em;
    height: 100%;
   
    max-width: 30%;
    margin: 0 auto;

    padding: 2em;
    border: 1px solid #ccc;
    border-radius: 4px;

    
}

input{
    width: 250px;
    height: 31px;
    min-width: 100%;
    margin: 5px;
}

legend{
    margin-top: 20px;
    text-align: center;  
    font-weight: bold;
    
}

.btn1{
    max-width: 80%;
    width: 110px;
    height: 60px;
    margin-top: 25px;

    border: 1px #b2b2b2;
    border-radius: 6px;
    cursor: pointer;

    font-weight: bold;
    font-size: 14px;  

    background-color:#4F95DA ;
    color:#FFFAFA;
}
.btn1:hover{
    background: #090979 ;
}

footer{
    width: 30vw;
    min-width: 100%;
    max-width: 100%;

    height: 5vh;
    max-height: 30em;
    
    color:#FFFFFF;
    text-align: center;
    margin: 154px 0px 0px 0px;
    border: solid 1px none;
    background:#4F95DA;
}