@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300;800&display=swap');
@import './responsivity.css';

:root{
    --primary-color:#FFFFFF;  
    --text-color:#000000;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


html{
    font-family:'Nunito Sans', sans-serif;
}

.form{
     display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    flex-direction: column; 

    
} 
.container{
    height: 500px;
    width: 60vw;
    max-width: 30%;

    margin: 0 auto;
    padding: 2em;
    border: 1px solid #ccc;
    
}

input{
    width: 250px;
    height: 31px;
    min-width: 100%;

    margin: 5px;

}

legend{
    margin-top: 20px;
    text-align: center;
}

.rodape, h3{

    color: #FFFAFA;
    font-weight: 100;
    font-size: 16px;
    margin: -30px 20px;
    width: 40vw; 
}  