@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300;800&display=swap');
@import './responsivity.css';

:root{

    --primary-color:#FFFFFF;
    --bg-color:#BBC4D4;
    --text-color:#000000;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


html{

    font-family:'Nunito Sans', sans-serif;
   
}
body{
  background-color:var(--bg-color);
}

main{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    height: 100vh;

}

.container{
    border: solid 1px none;
    border-radius: 7px;
    width: 80%;
    height: 50%;
    max-height: 30em;
    max-width: 25em;
    min-width: 150px;
    background-color: var(--primary-color);
    
    z-index: 1;    
}


h2{
    text-align: center;
    margin-top: 50px;
    margin-bottom: 30px;
    font-weight: 200;
    color: #829cca;
    
}


input{
    display: block;
    width: 150vw;
    height: 30px;
    max-width: 70%;
    background-color: #FFF; 
    margin: 15px 0px 10px 50px;   
    padding-left: 40px;
    background-repeat: no-repeat;
    background-position: 10px;
    border:solid 1px rgba(189, 182, 182, 0.719);
}

input.email{
    background-image: url(../imagens/icone-usuario.png);
}

input.senha{
    background-image: url(../imagens/icone-cadeado.png);
}
 
    






.rodape, h3{
    color: #FFFAFA;
    font-weight: 100;
    font-size: 16px;
    margin: -30px 20px;
    width: 40vw; 
}  