@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300;800&display=swap');


:root{
    --primary-color:#fffafa;
    --bg-color:#BBC4D4;
    --text-color:#000000;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


html{

    font-family:'Nunito Sans', sans-serif;
   
}

body{
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction:column;
    color: var(--primary-color);
    overflow: hidden;
}


.bg{
    background-image: url(/imagens/background.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position:center;
    background-attachment: fixed;
    background-color:var(--bg-color);
}

main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
}

.container{
    height: 100vh;
    font-size: 27px;
    
}
/* texto principal */
.text1{
    max-width: 100%;
  font-weight:100;
    font-size: 1em;
    color:var(--text-color) ;
    margin-top: 7vw;
    margin-left: 30vw;
    text-align: center;
}
/* botão entrar */
.btn1{
    max-width: 100%;
    width: 140px;
    height: 60px;
    border: 1px #b2b2b2;
    border-radius: 6px;
    cursor: pointer;
    font-weight: bold;
    font-size: 14px;  
    background-color:#4F95DA ;
    color:#FFFAFA;
    margin-top: 7vw;
    margin-left: 50vw;

}

/* botão cadastrar*/
.btn2{
    max-width: 100%;
    width: 140px;
    height: 60px;
    border: 1px #b2b2b2;
    border-radius: 6px;
    cursor: pointer;
    font-weight: bold;
    font-size: 14px;
    background-color:#000000;
    color:#fff ;
    outline:none;
    margin-top: 4vw;
    margin-left: 4vw;
}

.btn2:hover{
    background: #fff;
    color:#000000;
}
/* Footer */
.rodape, h3{
    color: #FFFAFA;
    font-weight: 100;
    font-size: 16px;
    margin: -30px 20px;
    width: 40vw; 
}

/* Celulares android e Iphone*/
@media (max-width: 768px) {

    .btn1, .btn2{
        margin: 36vh 5vh 5vh 1vh;
        width: 110px;
        height: 50px;
    }

    .text1{
        margin:18vh 9vh 1vh 1vh;
        font-size: 5vw;
    }

 }

 /* Celulares tablet e ipad*/

 @media (min-width: 768px) and (max-width: 1024px){
  
    .btn1, .btn2{
        margin: 28vh 1vh 5vh 8vh;
        width:170px;
        height: 90px;
        font-size: 24px;
    }
    .text1{
        margin:15vh 2vh 4vh 14vh;
         width: 23rem;
    }
    
  }

